.about{
	padding: 15px;

	border: {
		color: red;
		style: solid;
		width: 2px;
	}
}

.contact{
	padding: 15px;

	border: {
		color: yellowgreen;
		style: solid;
		width: 2px;
	}
}

.home{
	padding: 15px;

	border: {
		color: blue;
		style: solid;
		width: 2px;
	}
}